.main{
    margin: 40px 60px 40px 60px;
    background-color: white;
}
body{
    background-color: rgb(166, 191, 58);
}
.btn-publish{
    float: right;
    margin-bottom: 20px;
}
/*问题头像图片大小*/
.media-object{
    width: 60px;
    height: 60px;
}
/*用户头像大小*/
.userHead{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
/*分割线颜色*/
hr{
    border-top: 1px solid #cecece;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.text-tag{
    font-weight: normal;
    color: #888888;
    font-size: 12px;
    width: 48px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    display: inline-block;
    background-color: rgb(166, 191, 58);
    border-radius: 3px;
}
.left{
    border-right: 1px solid #cecece ;
}
.page{
    text-align: center;
}
.footer{
    font-weight: normal;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}

/* 个人页卡 */
.list-group-item.active{
    background-image: -webkit-linear-gradient(top,rgb(166, 191, 58) 0%, rgb(166, 191, 58) 100%);
    border-color: rgb(166, 191, 58);
}
.list-group-item.active:hover{
    background-image: -webkit-linear-gradient(top,rgb(166, 170, 58) 0%, rgb(166, 170, 58) 100%);
    border-color: rgb(166, 191, 58);
}
.list-group{
    margin-top: 25px;
}
