<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="application/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/community.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="modal-dialog" style="margin-top: 10%;">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title text-center" id="myModalLabel">用户注册</h4>
                </div>
                <div class="modal-body" id="model-body">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="账号" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="密码" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="确认密码" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="邮箱" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary form-control btn_login">注册</button>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-default form-control">取消</button>
                    </div>
                    <div class="form-group">
                        <a href="/login">
                        <button type="button" class="btn btn-default form-control">已有账号,去登录</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>